 <h1>Save Interface in website</h1>
 <div *ngIf="dataIsAvailable">
  <form [formGroup]="nicForm" (ngSubmit)="save()" novalidate>
      <fieldset>
        <legend>Network Interface details:</legend>
        <label>Name:</label>
        <input type="text" formControlName="name" value="">
        <label>MAC:</label>
        <input type="text" formControlName="macAddres" value="">
        <label>Ips</label>
        <select formControlName="ips" (ngModelChange)="onChange($event)" multiple>
        <option value="" disabled>Choose IP</option>
          <option *ngFor="let ip of availableIps" [ngValue]="ip">{{ ip.address }}</option>
        </select>
        <label>creationDate:</label>
        <input type="date" formControlName="creationDate" value="">
        <label>active:</label>
        <input type="checkbox" formControlName="active" [checked]="active">
        <input type="submit" value="Submit">
      </fieldset>
  </form>
</div>