<h2>Server</h2>
<table *ngIf="isDataAvailable">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Creation Date</th>
    <th>Place</th>
    <th>Owner</th>
    <th>CPUs</th>
    <th>Load</th>
    <th>Nics</th>
  </tr>
  <tr>
    <td>{{ server.id }}</td>
    <td>{{ server.name }}</td>
    <td>{{ server.creationDate }}</td>
    <td>{{ server.place }}</td>
    <td>{{ server.owner}}</td>
    <td>{{ server.cpu }}</td>
    <td>{{ server.loading }}</td>
    <td>
      <div *ngFor="let nic of server.nics">
        {{ nic.numberId }}
      </div>
    </td>
  </tr>
</table>