<h1>Angular Router</h1>
  <nav>
    <table>
      <tr>
        <td><a routerLink="/ipv4/all" routerLinkActive="active">Ip4s</a></td>
        <td><a routerLink="/nics/all" routerLinkActive="active">Interfaces</a></td>
        <td><a routerLink="/servers/all" routerLinkActive="active">Servers</a></td>
      </tr>
    </table>
  </nav>

  <router-outlet></router-outlet>
  <footer>
    <button (click)="router.navigate(['/ipv4/add'])">Add IP</button>
    <button (click)="router.navigate(['/nics/add'])">Add Nic</button>
    <button (click)="router.navigate(['/servers/add'])">Add Server</button>
    <button (click)="backClicked()">Back</button>
  </footer>
