<h1>Save IP in website</h1>
<form [formGroup]="ipForm" (ngSubmit) = "save()" novalidate>
    <fieldset>
      <legend>IP details:</legend>
      <label>Address:</label>
      <input type="text" formControlName="address" value="">
      <!-- <span *ngIf="!ipForm.address.valid">{{ address.errors | json }}</span> -->
      <label>VLAN:</label>
      <input type="number" formControlName="vlan" value="">
      <!-- <span *ngIf="!ipForm.vlan.valid">{{ vlan.errors | json }}</span> -->
      <label>Last Usage Time:</label>
      <input type="date" formControlName="creationDate" value="">
      <!-- <span *ngIf="!ipForm.creationDate.valid">{{ creationDate.errors | json }}</span> -->
      <input type="submit" value="Submit">
    </fieldset>
  </form>