<h2>Network Interface</h2>
<table *ngIf="isDataAvailable">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>MAC</th>
    <th>IPS</th>
    <th>Creation Date</th>
    <th>Active</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let nic of nics">
    <td>{{ nic.numberId }}</td>
    <td>{{ nic.name }}</td>
    <td>{{ nic.macAddres }}</td>
    <td >
      <div *ngFor="let ip of nic.ips">
        {{ ip.address }}
      </div>
    </td>
    <td>{{ nic.creationDate }}</td>
    <td>{{ nic.active }}</td>
    <td>
      <button (click)="router.navigate(['/nics/show/' + nic.numberId])">Show</button>
      <button (click)="router.navigate(['/nics/edit/' + nic.numberId])">Edit</button>
      <button (click)="delete(nic.numberId)">Delete</button>
    </td>
  </tr>
</table>