<h1>Save Server in website</h1>
<div *ngIf="dataIsAvailable">
 <form [formGroup]="serverForm" (ngSubmit)="save()" novalidate>
     <fieldset>
       <legend>Server details:</legend>
       <label>Name:</label>
       <input type="text" formControlName="name" value="">
       <label>Creation Date:</label>
       <input type="date" formControlName="creationDate" value="">
       <label>Place:</label>
       <input type="text" formControlName="place" value="">
       <label>Owner:</label>
       <input type="text" formControlName="owner" value="">
       <label>CPUs:</label>
       <input type="number" formControlName="cpu" value="">
       <label>Load:</label>
       <input type="number" step="0.01" formControlName="load" value="">
       <label>Nics:</label>
       <select formControlName="nics" multiple>
       <option value="" disabled>Choose Nic</option>
         <option *ngFor="let nic of availableNics" [value]="nic">{{ nic.numberId }}</option>
       </select>
       <input type="submit" value="Submit">
     </fieldset>
 </form>
</div>