<h2>IP</h2>
<table *ngIf="isDataAvailable">
  <tr>
    <th>Address</th>
    <th>VLAN</th>
    <th>Creation Date</th>
  </tr>
  <tr>
    <td>{{ ip.address }}</td>
    <td>{{ ip.vlan }}</td>
    <td>{{ ip.creationDate }}</td>
  </tr>
</table>