<h2>Network Interface</h2>
<table *ngIf="isDataAvailable">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>MAC</th>
    <th>IPS</th>
    <th>Creation Date</th>
    <th>Active</th>
  </tr>
  <tr>
    <td>{{ nic.numberId }}</td>
    <td>{{ nic.name }}</td>
    <td>{{ nic.macAddres }}</td>
    <td>
      <div *ngFor="let ip of nic.ips">
        {{ ip.address }}
      </div>
    </td>
    <td>{{ nic.creationDate }}</td>
    <td>{{ nic.active }}</td>
  </tr>
</table>