<h1>Save IP in website</h1>
<form [formGroup]="ipForm" (ngSubmit) = "save()" novalidate>
    <fieldset>
      <legend>IP details:</legend>
      <label>Address:</label>
      <input type="text" formControlName="address" value="">
      <label>VLAN:</label>
      <input type="number" formControlName="vlan" value="">
      <label>Last Usage Time:</label>
      <input type="date" formControlName="creationDate" value="">
      <input type="submit" value="Submit">
    </fieldset>
  </form>