<h2>IP</h2>
<table *ngIf="isDataAvailable">
  <tr>
    <th>Address</th>
    <th>VLAN</th>
    <th>Creation Date</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let ip of ips">
    <td>{{ ip.address }}</td>
    <td>{{ ip.vlan }}</td>
    <td>{{ ip.creationDate }}</td>
    <td>
      <button (click)="router.navigate(['/ipv4/show/' + ip.address])">Show</button>
      <button (click)="router.navigate(['/ipv4/edit/' + ip.address])">Edit</button>
      <button (click)="delete(ip.address)">Delete</button>
    </td>
  </tr>
</table>